---
import ButtonLink from 'src/components/ButtonLink/ButtonLink.astro'
import { SectionContainer } from 'src/components/react'
import AdaptiveImage from 'src/components/sanity/AdaptiveImage.astro'
import type { HeroSectionType } from 'src/types'

type Props = HeroSectionType

const { button, subLink, desktopImage, heading, mobileImage, tagline } = Astro.props
---

<SectionContainer fullWidth className="relative flex flex-col justify-center bg-slate-900 text-zinc-100">
  <AdaptiveImage assets={{ desktop: desktopImage, mobile: mobileImage }} containerClass="hero-gradient z-10 h-full w-full" />
  <div class="absolute bottom-1/4 z-20 h-full max-h-[75%] w-full md:bottom-0 md:max-h-full">
    <div class="container mx-auto flex h-full flex-col items-center px-4 md:items-start md:px-10">
      <div
        class="flex h-full w-full max-w-sm flex-col items-center justify-end sm:max-w-full md:max-w-md md:items-start md:justify-center xl:max-w-2xl"
      >
        <h1
          class="word mb-5 text-center font-poppins text-3xl font-extrabold uppercase sm:mb-10 sm:text-4xl md:mb-5 md:text-left md:text-3xl lg:mb-7 xl:mb-10 xl:text-5xl 2xl:text-6xl"
          style={{ wordSpacing: '0.25rem' }}
        >
          {heading}
        </h1>
        <h4
          class="mb-5 text-center text-xs font-semibold tracking-wide sm:mb-10 sm:text-base md:mb-5 md:text-left lg:mb-7 xl:mb-10 xl:text-2xl"
        >
          {tagline}
        </h4>
        <ButtonLink variant="secondary" href={button.url} class="mb-4 sm:mb-6 md:mb-4">{button.text}</ButtonLink>
        <a
          href={subLink.url}
          class="text-xs font-semibold underline transition-colors duration-300 ease-in-out hover:decoration-amber-400 lg:text-lg"
          >{subLink.text}</a
        >
      </div>
    </div>
  </div>
</SectionContainer>
